
<% if flash[:notice] != nil %>
  <div class='well alert alert-success'>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] != nil %>
  <div class='well alert alert-error'>
    <%= flash[:error] %>
  </div>
<% end %>
